@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-field-color: #b4b4b4;
  --text-feild-error-color: #e61f10;
  --disable-gray: #dad8d8;
  --disable-text-gray: #858484;
  --loading-gray: #acacac;
  --loading-text-gray: #525252;
  --primary: #ffc453;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-vazir-matn), sans-serif;
}

.text-field {
  border-color: var(--text-field-color);
}
